RewriteEngine On


RewriteRule ^$ index.php
RewriteRule ^seminar\/([0-9]+)$ seminar.php?SeminarId=$1
RewriteRule ^seminar\/([0-9]+)\/homework\/([0-9]+)$ homework.php?SeminarId=$1&HomeworkId=$2

#seminar.php?year=2021&semester=SS&ident=4IZ278&seminarId=1
#FallbackResource /index.php