RewriteEngine On


RewriteRule ^$ index.php
RewriteRule ^seminar\/([0-9]+)$ seminar.php?SeminarId=$1
RewriteRule ^seminar\/([0-9]+)\/homework\/([0-9]+)(\/edit)?$ homework.php?SeminarId=$1&HomeworkId=$2&Edit=$3
RewriteRule ^login$ login.php
RewriteRule ^error\/([0-9]{3})$ error/$1.html
RewriteRule ^course\/([0-9]{4})\/(SS|WS)\/([A-Z0-9]{6})$ course.php?Year=$1&Semester=$2&Ident=$3
RewriteRule ^course\/([0-9]{4})\/(SS|WS)\/([A-Z0-9]{6})(\/edit)?$ edit.php?Year=$1&Semester=$2&Ident=$3&Edit=$4
